 .video-js {
  width: 100%;
}

 .video-js .vjs-play-progress {
  background-color: #2878E2 !important;
}

 .video-js .vjs-progress-control {
  position: absolute !important;
  width: 100% !important;
  top: -0.3em !important;
  height: 0.3em !important;
  /* deal with resulting gap between progress control and control bar that
       is the result of the attempt to keep things "clickable" on the controls */
}

 .video-js .vjs-progress-holder {
  position: absolute !important;
  margin: 0px !important;
  top: 0%;
  width: 100%;
}

 .video-js .vjs-time-control {
  display: block !important;
  height: auto !important;
}
 .video-js .vjs-remaining-time {
  display: none !important;
}

 .video-js .vjs-spacer {
  display: block !important;
  flex: 1 !important;
}

 .video-js .vjs-big-play-button {
  width: 98px;
  height: 98px;
  background-color: #2878E2 !important;
  border-radius: 50% !important;
  outline: none !important;
  border: 0 !important;
}

 .vjs-icon-placeholder:before,
.vjs-icon-play:before {
  position: relative !important;
  color: #354052 !important;
}

 .vjs-volume-control .vjs-control .vjs-volume-horizontal {
  display: block !important;
}


 .video-js .vjs-play-progress:before{
  display: none !important;
}


.video-js:hover .vjs-big-play-button {
  background-color: #354052 !important;
}


.video-js .vjs-icon-placeholder:before{
  color: #fff !important;
}

.video-js .vjs-control-bar {
  background-color: #e6eaee !important;
 color: #354052 !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before, .video-js .vjs-play-control .vjs-icon-placeholder:before
{
  color: #354052 !important;
}
